body {}
.circle {
  height: 50px;
  width: 50px;
  background-color: #555;
  border-radius: 50%;
}
.rectangleA {
  display: inline;
  height: 100px;
  width: 50px;
  background-color: #555;
}
.rectangleB {
  display: inline;
  height: 100px;
  width: 75px;
  background-color: #555;
}
