body {}
.circle {
  height: 50px;
  width: 50px;
  background-color: #555;
  border-radius: 50%;
}
.rectangleA {
  margin-left: 1%;
  margin-right: 1%;
  float: left;
  height: 100px;
  width: 50px;
  background-color: #555;
}
.rectangleB {
  margin-left: 1%;
  margin-right: 1%;
  float: left;
  height: 100px;
  width: 75px;
  background-color: #555;
}
